@charset "UTF-8";

body{
	background-color: #ffffca;
	margin: 0;
	padding: 0;
	font-family: "맑은 고딕";
		
}

h2{
	text-align: center;
}

header{
	background-color: green;
	color: black;
	text-align: center;
	padding: 20px 0;
	font-size: 24px;
	font-weight: bold;
}

nav{
	background-color: #80ff00;
	padding: 10px;
}

nav a{
	text-decoration: none; /* 링크 밑줄 없애기 */
	margin: 0 10px;
}

section{
	min-height: 400px;
}

footer{
	background-color: green;
	color: black;
	text-align: center;
	padding: 15px 0;
}







